@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}


.container-custom {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}



.section-title {
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 60%;
  height: 3px;
  background: #06b6d4;
}


